/* Signup and Login header */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, .05);
  background: linear-gradient(to bottom right, #0e3a4a, #01132b);
  transition: background-color .2s ease-in-out, border-color .2 ease-in-out;
}
.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  cursor: pointer;
  height: 70px;
}
.header-logo-container {
  height: 100%;
  position: relative;
}
.header-title img{
  height: 100%;
  transition: opacity .1s ease-in-out;
}
.header-title .logo-w {
  position: absolute;
}

@media(max-width: 1100px) {
  .header-title {
    margin-left: 60px;
  }
}

@media(max-width: 500px) {
  .header-title {
    margin-left: 20px;
  }
}

/* After header */
.after-header {
  margin-top: 190px;
}
